<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myplayer">
<uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".ExoBaseUserActivity" />
    </application>
</manifest>